.button {
    position: absolute;
    top: 130px;
    left: 18vw;
    height: 115px;
    width: 126px;
    border-radius: 9px;
    color: #f0f0f0;
  }
  
  h6 {
    color: black;
  }
  
  .card {
    background-color: rgb(63,95,156);
    width: 703px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 350px;
    position: relative;
    margin-top: 5%;
    margin-left: 12%;
   color: white;
    border-radius: 10px;
    left: 30vh;
  }
  .card-title {
    font-size: 29px;
    margin-left: 2%;
    font-weight: bold;
  }
  .btn {
    background-color: rgb(89,170,88);
    width: 100px;
    font-size: 20px;
    margin-left: 235px;
  }
  .bttn {
    background-color: #59aa58;
    width: 100px;
    font-size: 20px;
    margin-left: 80%;
    position: absolute;
    left: 30px;
    top: 10px
  }

  
  .form-group [type='text'] {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 2px 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .form-group [type='password'] {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 2px 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  // .form-control {
  //   width: 124%;
  // }
  
  
 
  .ok {
    background-color: white;
    border-radius: 4px;
    width: 16%;
    border: 1px solid #79cc9a;
  }
  