<app-navbar></app-navbar>
<app-header></app-header>
<div class="body">
  

    <div class="electronics">
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <h3>Electronics</h3>
            <img src="/assets/electronics.jpg" alt="electronics" style="width:250px;height:220px;">
        </div>
        <div class="flip-card-back">
         <div class="content"> 
            <p>Television</p>
            <p>Fan</p>
            <p>Refrigerators</p>
            <p>Speakers</p>
           <p>Microwave Ovens</p> 
            <p>Air Conditioners</p>
            <p>Washing Machines</p>
            <button class="button" style="vertical-align:middle"><span  routerLink ="/user/electronics">Go </span></button>
        </div>
           
      
            
        </div>
    </div>
</div>
    </div>
<div class="furnitures">
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <h3>Furnitures</h3>
            <img src="/assets/Furnitures.jpg" alt="Avatar" style="width:250px;height:220px;">
        </div>
        <div class="flip-card-back">
         <div class="content">  
            <p>Office Chairs</p>
            <p>Desk</p>
            <p>Beds</p>
            <p>Sofas</p>
           <p>Dining Sets</p> 
            <p>Matteresses</p>
            <button class="button" style="vertical-align:middle"><span routerLink ="/user/furnitures">Go </span></button>

        </div>
           
           
            
        </div>
    </div>
</div>
</div>



































</div>