.heading{
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 570px;
}
img{
 
    height: 143px;
    width: 144px;
    margin-left: -30px;
  }
   .container{
    left: 75px;
       top: 120px;
    position: absolute;
   }
   .price{
  position: absolute;
  top: 234px;
  left: 15px;
  }
  .delete{
    position: relative;
    left: 198px;
    top: -1px;
    height: 39px;
  }
  .btn{
    position: relative;
    left: -10px;
    top: 39px;
    height: 39px;
  }