// .card {
//     position: absolute;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
//  // max-width: 300px;
//  height: 400px;
//  width: 250px;
//   margin: auto;
//   text-align: center;
//   font-family: arial;
// }

// .price {
//   color: grey;
//   font-size: 22px;
// }

// .card button {
//   border: none;
//   outline: 0;
//   padding: 12px;
//   color: white;
//   background-color: #000;
//   text-align: center;
//   cursor: pointer;
//   width: 100%;
//   font-size: 18px;
// }

// .card button:hover {
//   opacity: 0.7;
// }
.card{
  height: 359px;
  margin-bottom: 22px;

}
// body {
//   padding: 2rem 0rem;
// }

// .like {
//   font-size: 1.5rem;
// }
img{
 
  height: 143px;
  width: 144px;
  margin-left: 43px;
}
 .container{

  left: 75px;
     top: 71px;
  position: absolute;
 }
 .price{
  position: absolute;
  top: 220px;
  left: 84px
}
.btn{
  position: relative;
  left: 130px;
  top: -71px;
}
.qnty{
  position: absolute;
  top: 276px;
    width: 119px;
    left: 8px;
}