<div class="header">
<span routerLink="/user/dashboard"><h5>Udhaya Stores</h5>
</span>


<span routerLink="/user/cart" routerLinkActive="active" matTooltip="add">
    <img class="cart" src="/assets/cart_icon.png"> 
    Cart
</span>
<div class="username">
<p>Hii {{storage.UserName}}</p>
<a class="glyphicon" routerLink="/user/viewDeliveryDetails" style="position: absolute;top: 1px;left: -30px;cursor: pointer;" >
  <img
    height="25em"
    width="25em"
    src="../../../../assets/googlemap.jpg"
  />
</a>
</div>
<button type="button" class="btn btn-outline-primary" (click)="OnLogout()">
    Logout
  </button>
</div>
<!-- style="position: absolute; top:-10px;" -->