.header {
    position: absolute;
    width: 1275px;
   left: 2px;
    height: 60px;
    top: -10px;
    background-color: rgb(40,116,240);
    color:white;
    font-family:  inherit;
    text-align: center;
}
span h3{
    position: absolute;
    left: -880px;
    top: -20px;
}
span{
    cursor: pointer;
    position: absolute;
    top: 29px;
    color: white;
    text-align: right;
    left: 1000px;
}
.cart{
    position: absolute;
    left: -31px;
    height: 23px;
    width: 29px;
    top: -2px;
}